<p id="notice"><%= notice %></p>

<h1>Vaccinations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Injected at</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vaccinations.each do |vaccination| %>
      <tr>
        <td><%= vaccination.name %></td>
        <td><%= vaccination.injected_at %></td>
        <td><%= vaccination.profile %></td>
        <td><%= link_to 'Show', vaccination %></td>
        <td><%= link_to 'Edit', edit_vaccination_path(vaccination) %></td>
        <td><%= link_to 'Destroy', vaccination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaccination', new_vaccination_path %>
