<%= form_with(model: stable, local: true) do |form| %>
  <% if stable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stable.errors.count, "error") %> prohibited this stable from being saved:</h2>

      <ul>
      <% stable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :satble_number %>
    <%= form.text_field :satble_number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
