<p id="notice"><%= notice %></p>

<h1>Stables</h1>

<table>
  <thead>
    <tr>
      <th>Satble number</th>
      <th>Name</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stables.each do |stable| %>
      <tr>
        <td><%= stable.satble_number %></td>
        <td><%= stable.name %></td>
        <td><%= stable.photo %></td>
        <td><%= link_to 'Show', stable %></td>
        <td><%= link_to 'Edit', edit_stable_path(stable) %></td>
        <td><%= link_to 'Destroy', stable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stable', new_stable_path %>
